<head>

<style>
.container {
    text-align: center;
    margin-top: 50px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

textarea {
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
}
</style>

</head>
<div class="container">
<h2>Use me!</h2>
<br>
<form action="/broadcast" method="post">

    <textarea
        name="message"
        rows="6"
        cols="60"
        placeholder="Type your broadcast message here..."
    ></textarea>

    <br><br>

    <button type="submit">
        CLICK TO SEND
    </button>

</form>
    <table border="1">

<tr>
    <th>ID</th>
    <th>Last Active</th>
</tr>

{% for user in users %}
<tr>
    <td>{{ user[1] if user[1] else user[0] }}</td>
    <td>{{ user[2] }}</td>
</tr>
    
{% endfor %}
</table>
</div>
